#root {
  margin: 0;
}

.container-bg {
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  margin: 0;
}

.submit-text {
  transform:scale(1,2); /* W3C */
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  font-weight: bold;
}